*{
    margin: 0px;
    padding: 0px;
}
/*navv section*/
.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: rgb(145, 144, 144);
    padding: 10px;
    align-items: center;
}
.menus{
    display: flex;
    gap: 15px;
    font-size: 20px;
    
    list-style: none;
}
/*banner section*/
.banner-container{
    height: 100vh;
    background-image: url('../asset/image/background.jpg'),
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}
.primary{
    color: red;
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: whitesmoke;
}
.description{
    padding: 10px;
    color: aliceblue;
    width: 50%;
    margin: auto;
    text-align: center;
}
.btn-primary{
    padding: 12px 20px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 15px;
}
/*service section*/
.service-container{
    height: 100vh;
    background-image: url('../asset/image/footer-bg.png'),
    linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    color: whitesmoke;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}
.icon{
    width: 70px;
}
.box{
    text-align: center;
    padding: 50px;
    background-color: white;
    width: 150px;
    height: 100px;
    color: black;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 8px;
}
.service-description{
    width: 50%;
    padding: 10px;
}
.first-two-box{
    display: flex;
    gap: 6px;
    margin-top: 0px;
}
.author-img{
    width: 50px;
    height: 50px;
    border-radius: 35px;
}
.author-container{
    display: flex;
    gap: 30px;
    align-items: center;
}
.profile-container{
    display: flex;
    gap: 5px;
    align-items: center;
    border-right: 2px solid red;
    padding-right: 20px;
}
.phone-call{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}
.appointment-container{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 20px;
    background-image: url('../asset/image/background.jpg');
    /*background-color: red;*/
    border-radius: 10px;
    margin-top: -30px;
    align-items: center;
}




